@model PlaneProject.ViewModels.AccountViewModel

@{
    ViewBag.Title = "Account Login";
}

<h2>AccountLogin</h2>
 
<p style="color:red"> @ViewBag.Error</p>

@using (Html.BeginForm("Login", "Account", new { @returnUrl = ViewBag.Message }, FormMethod.Post))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        @*<h4>Account</h4>*@
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.Account.Username, new { placeholder = "Username", @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Account.Username, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-10">
                @Html.PasswordFor(model => model.Account.Passsword, new { placeholder = "Password", @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Account.Passsword, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-10">
                <input type="submit" style="width:100%" value="Login" class="btn btn-default form-btn" />
            </div>
        </div>
    </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
